body {
	font-family: Arial, sans-serif;
	font-size: 14px;
	background-color: #c3c3c3;
	color: #fff;
}

.l-page-content {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.l-page-content__sidebar {
	flex-basis: calc(100% - 70% - 30px);
}

.l-page-content__main {
	flex-basis: calc(100% - (100% - 70% - 30px));
}